In [10]:
import pandas as pd
from glob import glob
import seaborn as sns
from datetime import datetime, timedelta
from matplotlib import pyplot as plt
from urllib.request import urlopen
from io import BytesIO
from zipfile import ZipFile

# Methods

In [11]:
def download_and_unzip(url, extract_to='dwd_data/'):
    http_response = urlopen(url)
    zipfile = ZipFile(BytesIO(http_response.read()))
    zipfile.extractall(path=extract_to)

In [12]:
def get_realizations():
    filename_wind = glob('dwd_data/produkt_ff*.txt')[0]
    filename_temp = glob('dwd_data/produkt_tu*.txt')[0]
    realizations_temp = pd.read_csv(filename_temp, sep = ";")
    realizations_wind = pd.read_csv(filename_wind, sep = ";")
    realizations_wind.columns = realizations_wind.columns.str.replace(" ","")
    realizations_temp["MESS_DATUM"] = pd.to_datetime(realizations_temp["MESS_DATUM"], format = "%Y%m%d%H")
    realizations_wind["MESS_DATUM"] = pd.to_datetime(realizations_wind["MESS_DATUM"], format = "%Y%m%d%H")

    #Drop unecessary columns
    realizations_wind = realizations_wind[["MESS_DATUM","F"]]
    realizations_temp = realizations_temp[["MESS_DATUM", "TT_TU"]]
    
    #Set index
    realizations_temp.set_index("MESS_DATUM", inplace = True)
    realizations_wind.set_index("MESS_DATUM", inplace = True)
    
    return (realizations_temp, realizations_wind)

In [13]:
def get_observed_time(x):
    res = pd.to_datetime(x["init_tm"]) + timedelta(hours = x["fcst_hour"])
    return res

# Combine data

In [14]:
url_temp = "https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/hourly/air_temperature/recent/stundenwerte_TU_04177_akt.zip"
url_wind = "https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/hourly/wind/recent/stundenwerte_FF_04177_akt.zip"
download_and_unzip(url_temp)
download_and_unzip(url_wind)

## Base data

In [17]:
def get_base_data():
    temperature = pd.read_csv("historic_data/icon_eps_t_2m.csv")
    wind = pd.read_csv("historic_data/icon_eps_wind_10m.csv")
    temperature["obs_tm"] = pd.to_datetime(temperature["obs_tm"])
    wind["obs_tm"] = pd.to_datetime(wind["obs_tm"])
    return (temperature, wind)

Change format to time type

In [18]:
temperature, wind = get_base_data()

In [19]:
realizations_temp, realizations_wind = get_realizations()

## Add Observations to historic data

In [20]:
#Insert observations into missing historic data
#Temperature
index = temperature.loc[temperature["obs"].isna()][["obs_tm"]]
fill_blancs = index.merge(realizations_temp, left_on = "obs_tm", right_on = "MESS_DATUM")["TT_TU"]
temperature.loc[temperature["obs"].isna(),"obs"] = fill_blancs.values

#Wind
index = wind.loc[wind["obs"].isna()][["obs_tm"]]
fill_blancs = index.merge(realizations_wind, left_on = "obs_tm", right_on = "MESS_DATUM", how = "left")["F"]
wind.loc[wind["obs"].isna(),"obs"] = fill_blancs.values

#Drop NaNs
wind.dropna(inplace = True)

## Save Data
So far we have adjusted the historical data, we can save it in a final dataframe

In [21]:
temperature.to_pickle("complete_data_t_2m")
wind.to_pickle("complete_data_wind_10m")

In [23]:
temperature = pd.read_pickle("complete_data_t_2m")
wind = pd.read_pickle("complete_data_wind_10m")

# Add daily current data

From here on the csv data is read again, and current observations and forecasts are added

## Temperature

In [24]:
#Get day to start adding new data
start_init_date = pd.to_datetime(temperature["init_tm"]).iloc[-1] + timedelta(1)

#Get index of possible realizations
index = realizations_temp[realizations_temp.index >= start_init_date].index
#Get days of index to load data
days = index.strftime("%Y-%m-%d").drop_duplicates()

In [25]:
print(days)

Index(['2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01', '2021-10-02',
       '2021-10-03', '2021-10-04', '2021-10-05', '2021-10-06', '2021-10-07',
       '2021-10-08', '2021-10-09', '2021-10-10', '2021-10-11', '2021-10-12',
       '2021-10-13', '2021-10-14', '2021-10-15', '2021-10-16', '2021-10-17',
       '2021-10-18', '2021-10-19', '2021-10-20'],
      dtype='object', name='MESS_DATUM')

### Iterate over all new data

In [26]:
true_columns = temperature.columns
new_df = pd.DataFrame(columns = true_columns)

#Iterate over all new days
for current_date in days:
    #current_date = start_init_date
    path = "icon_data/icon-eu-eps_{}00_t_2m_Karlsruhe.txt"

    new_data = pd.read_csv(path.format(current_date.replace("-","")), skiprows = 3, sep = "|").dropna(axis = 1)
    new_data.columns = new_data.columns.str.replace(" ", "")
    columns = ["fcst_hour"]
    columns.extend(true_columns[6:-2])
    new_data.columns = columns
    #Add missing columns
    new_data["ens_mean"] = new_data.iloc[:,1:].mean(axis = 1)
    new_data["ens_var"] = new_data.iloc[:,1:-1].std(axis = 1)
    new_data.insert(0, "init_tm", current_date)
    new_data.insert(1, "met_var", "t_2m")
    new_data.insert(2, "location", "Karlsruhe")
    new_data.insert(3, "obs_tm", 0)
    new_data["obs_tm"] = new_data[["init_tm", "fcst_hour"]].apply(lambda x: get_observed_time(x), axis = 1)

    #Need to add observations than finished
    index = new_data["obs_tm"]
    new_obs = realizations_temp[realizations_temp.index.isin(index)]["TT_TU"]
    new_data = new_data.merge(new_obs, left_on = "obs_tm", right_index = True)

    #Append to dataframe
    new_df = new_df.append(new_data)

#Change columns
new_df["obs"] = new_df["TT_TU"]
new_df.drop("TT_TU", axis = 1, inplace = True)

In [27]:
temperature = temperature.append(new_df)
temperature["fcst_hour"] = temperature["fcst_hour"].astype("int")
temperature = temperature.reset_index().drop("index", axis = 1)
temperature

,init_tm,met_var,location,fcst_hour,obs_tm,obs,ens_1,ens_2,ens_3,ens_4,...,ens_33,ens_34,ens_35,ens_36,ens_37,ens_38,ens_39,ens_40,ens_mean,ens_var
0,2018-12-12,t_2m,Karlsruhe,0,2018-12-12 00:00:00,1.2,0.92,1.01,0.43,1.79,...,1.46,1.12,1.33,0.48,2.45,0.86,1.52,0.11,0.92950,0.345287
1,2018-12-12,t_2m,Karlsruhe,1,2018-12-12 01:00:00,0.5,0.91,1.46,0.33,1.69,...,1.48,1.28,1.50,0.51,2.25,0.43,1.30,0.08,0.94875,0.375827
2,2018-12-12,t_2m,Karlsruhe,2,2018-12-12 02:00:00,0.7,1.49,2.08,0.43,1.84,...,1.42,1.23,2.04,0.88,1.91,0.34,1.12,0.24,1.07825,0.406502
3,2018-12-12,t_2m,Karlsruhe,3,2018-12-12 03:00:00,0.8,2.12,2.35,0.69,2.23,...,1.77,1.25,2.51,1.29,1.54,0.77,0.97,0.62,1.21875,0.469821
4,2018-12-12,t_2m,Karlsruhe,4,2018-12-12 04:00:00,0.7,2.44,2.55,0.96,2.46,...,1.93,1.45,2.79,1.49,1.25,1.28,0.80,0.99,1.35175,0.528558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66260,2021-10-20,t_2m,Karlsruhe,8,2021-10-20 08:00:00,12.2,12.33,13.60,14.34,12.62,...,13.96,13.85,13.44,14.07,14.16,13.28,12.20,13.09,13.39500,0.804373
66261,2021-10-20,t_2m,Karlsruhe,9,2021-10-20 09:00:00,17.1,14.95,15.92,16.49,15.33,...,16.12,16.16,16.15,15.94,16.95,15.73,15.25,15.57,15.88825,0.559945
66262,2021-10-20,t_2m,Karlsruhe,10,2021-10-20 10:00:00,18.5,16.76,17.48,18.20,17.62,...,17.68,17.48,17.49,17.26,18.13,16.96,16.97,16.97,17.46375,0.536057
66263,2021-10-20,t_2m,Karlsruhe,11,2021-10-20 11:00:00,20.5,18.30,18.61,20.18,18.87,...,18.89,18.43,18.83,18.57,19.30,18.87,18.60,18.36,18.92775,0.541283
66264,2021-10-20,t_2m,Karlsruhe,12,2021-10-20 12:00:00,20.6,18.65,18.87,20.90,20.34,...,20.13,18.92,20.44,19.69,19.79,18.93,19.73,19.00,19.77600,0.666890

In [28]:
#Save data
temperature.to_pickle("complete_data_t_2m")

## Wind

In [29]:
#Get day to start adding new data
start_init_date = pd.to_datetime(wind["init_tm"]).iloc[-1] + timedelta(1)

#Get index of possible realizations
index = realizations_wind[realizations_wind.index >= start_init_date].index
#Get days of index to load data
days = index.strftime("%Y-%m-%d").drop_duplicates()

In [30]:
print(days)

Index(['2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01', '2021-10-02',
       '2021-10-03', '2021-10-04', '2021-10-05', '2021-10-06', '2021-10-07',
       '2021-10-08', '2021-10-09', '2021-10-10', '2021-10-11', '2021-10-12',
       '2021-10-13', '2021-10-14', '2021-10-15', '2021-10-16', '2021-10-17',
       '2021-10-18', '2021-10-19', '2021-10-20'],
      dtype='object', name='MESS_DATUM')

### Iterate over all new data

In [31]:
true_columns = wind.columns
new_df = pd.DataFrame(columns = true_columns)

#Iterate over all new days
for current_date in days:
    #current_date = start_init_date
    path = "icon_data/icon-eu-eps_{}00_t_2m_Karlsruhe.txt"

    new_data = pd.read_csv(path.format(current_date.replace("-","")), skiprows = 3, sep = "|").dropna(axis = 1)
    new_data.columns = new_data.columns.str.replace(" ", "")
    columns = ["fcst_hour"]
    columns.extend(true_columns[6:-2])
    new_data.columns = columns
    #Add missing columns
    new_data["ens_mean"] = new_data.iloc[:,1:].mean(axis = 1)
    new_data["ens_var"] = new_data.iloc[:,1:-1].std(axis = 1)
    new_data.insert(0, "init_tm", current_date)
    new_data.insert(1, "met_var", "wind_10m")
    new_data.insert(2, "location", "Karlsruhe")
    new_data.insert(3, "obs_tm", 0)
    new_data["obs_tm"] = new_data[["init_tm", "fcst_hour"]].apply(lambda x: get_observed_time(x), axis = 1)

    #Need to add observations than finished
    index = new_data["obs_tm"]
    new_obs = realizations_wind[realizations_wind.index.isin(index)]["F"] * 3.6
    new_data = new_data.merge(new_obs, left_on = "obs_tm", right_index = True)

    #Append to dataframe
    new_df = new_df.append(new_data)

#Change columns
new_df["obs"] = new_df["F"]
new_df.drop("F", axis = 1, inplace = True)

In [32]:
wind = wind.append(new_df)
wind["fcst_hour"] = wind["fcst_hour"].astype("int")
wind = wind.reset_index().drop("index", axis = 1)
wind

,init_tm,met_var,location,fcst_hour,obs_tm,obs,ens_1,ens_2,ens_3,ens_4,...,ens_33,ens_34,ens_35,ens_36,ens_37,ens_38,ens_39,ens_40,ens_mean,ens_var
0,2018-12-18,wind_10m,Karlsruhe,0,2018-12-18 00:00:00,5.76,6.12,7.19,7.30,7.83,...,8.28,7.06,6.02,6.08,7.29,6.89,5.56,9.21,7.08500,1.370564
1,2018-12-18,wind_10m,Karlsruhe,1,2018-12-18 01:00:00,9.36,5.32,6.60,5.70,7.08,...,6.83,5.82,5.23,4.90,6.56,6.50,4.95,8.23,6.20050,1.153666
2,2018-12-18,wind_10m,Karlsruhe,2,2018-12-18 02:00:00,2.88,4.82,6.15,4.33,6.18,...,5.67,4.80,4.75,3.75,6.15,5.84,4.30,7.29,5.33600,1.034071
3,2018-12-18,wind_10m,Karlsruhe,3,2018-12-18 03:00:00,5.04,4.07,5.34,3.55,5.42,...,5.00,4.09,4.10,3.01,5.84,5.05,3.80,5.48,4.56425,0.853210
4,2018-12-18,wind_10m,Karlsruhe,4,2018-12-18 04:00:00,2.16,3.34,4.43,3.07,4.69,...,4.15,3.08,3.58,2.73,5.03,3.75,2.84,3.81,3.73000,0.623190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65752,2021-10-20,wind_10m,Karlsruhe,8,2021-10-20 08:00:00,8.64,12.33,13.60,14.34,12.62,...,13.96,13.85,13.44,14.07,14.16,13.28,12.20,13.09,13.39500,0.804373
65753,2021-10-20,wind_10m,Karlsruhe,9,2021-10-20 09:00:00,9.36,14.95,15.92,16.49,15.33,...,16.12,16.16,16.15,15.94,16.95,15.73,15.25,15.57,15.88825,0.559945
65754,2021-10-20,wind_10m,Karlsruhe,10,2021-10-20 10:00:00,21.24,16.76,17.48,18.20,17.62,...,17.68,17.48,17.49,17.26,18.13,16.96,16.97,16.97,17.46375,0.536057
65755,2021-10-20,wind_10m,Karlsruhe,11,2021-10-20 11:00:00,26.64,18.30,18.61,20.18,18.87,...,18.89,18.43,18.83,18.57,19.30,18.87,18.60,18.36,18.92775,0.541283
65756,2021-10-20,wind_10m,Karlsruhe,12,2021-10-20 12:00:00,30.96,18.65,18.87,20.90,20.34,...,20.13,18.92,20.44,19.69,19.79,18.93,19.73,19.00,19.77600,0.666890

In [33]:
#Save data
wind.to_pickle("complete_data_wind_10m")